body {
    height: auto;
    min-height: 100% !important;
    font-family: Ubuntu;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: 80%;
    justify-content: space-evenly
}

.targetSelect{
    display: block;
    margin-top: 30px;
    user-select: none;
}

.targetSelect input{
    opacity: 0;
    margin: -10px;
    padding: 0;
}

.targetSelect input:focus-visible{
    opacity: 100;
    margin: initial;
}

.targetSelect input:focus + label{
    border: 2px solid black;
}

.targetSelect label{
    padding: 10px;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 4px;
    max-width: 130px;
    display: inline-block;

    user-select: none;
}

.targetSelect label:hover{
    border: 2px solid black;
}

.targetSelect input:checked + label{
    background-color: lightgray;
    border: 2px solid black;
    pointer-events: none;
}

.options{
    display:block;
    user-select: none;
}

.options input{
    margin: 5px;
    margin-left: 15px;
}

.options label{
    user-select: none;
}

.options #ExtSTLC, #ExtLabel{
    display: none;
}


.halves{
    /* display: inherit; */
    text-align: center;
}

.textBox{
    margin: auto;
    height: 350px;
    width: 95%;
    border: 1px solid gray;
    border-radius: 4px;

    resize: horizontal;
    overflow: auto;
}

.btns{
    text-align: center;
    user-select: none;
}

.btns button{
    display: inline-block;
    font-size: large;
    font-family: inherit;
    margin: 0 5px;
    padding: 6px;
}

/* .btns #open{
    opacity: 0.6;
    cursor:default;
} */

.notes {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 20px 20px;
    padding: 10px;
    padding-top: 0px;
}